<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Code Fellowship - Register</title>
  <link
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
  >
</head>
<body>

<div th:replace="fragments/header :: header">...</div>


<main class="container">

  <form method="POST" action="/usercreate" id="login-form" class="login-form" autocomplete="off" role="main">
    <h1 class="a11y-hidden">SignUp Form</h1>
    <div>
      <label style="padding-right:25px" for="username">User Name:</label>
        <input type="text" name="username" id="username"  required />
    </div>

    <div>
        <label  style="padding-right:32px" for="password">Password:</label>
        <input type="password"  name="password" id="password"  required />
    </div>
    <div>
      <label  style="padding-right:25px" for="firstname">First Name:</label>
        <input type="text" class="text" name="firstname" id="firstname" required />


    </div>
    <div>
    <label style="padding-right:25px" for="lastname">Last Name:</label>
      <input type="text" class="text" name="lastname" id="lastname"  required />
   </div>

    <div>
      <label for="dob">Date Of Birthday</label>
        <input type="date"  name="dob" id="dob" required />
    </div>
    <div>
      <label style="padding-right:90px" class="label-password" for="bio"> Bio:</label>
      <input type="text"  name="bio" id="bio" required />
    </div>
    <input style="background-color:black;color:white;" type="submit" value="Sign Up" />
  </form>
</main>
</body>
</html> 